-
	var description = {
		header: 'Освободите себя от лишних забот – закажите бетон от производителя',
		subheader: 'Обеспечим полное сопровождение: от покупки до доставки',
		texts: [
			'Используйте надежные и проверенные составы для строительных задач любого назначения – занимаемся продажей бетона марок от М100 до М550, сами изготавливаем смеси уже более 20 лет. Вы получите составы, соответствующие всем необходимым сертификатам и нормам, проводим строгий контроль качества на производстве.',
			'Обращайтесь к проверенному поставщику бетона – за время работы «БетонТрансСтрой» зарекомендовала себя как надежный партнер. Сотрудничаем как с небольшими, так и крупными компаниями, а также с физическими лицами. <br>А постоянным клиентам предлагаем бонусы, скидки и индивидуальные условия.',
		],
		items: [
			{
				header: 'Любой объем партии',
				text: 'Закажите любую марку бетона от одного кубометра – поставим столько, сколько вам требуется для выполнения определенных работ.'
			},
			{
				header: 'Без наценок',
				text: 'Не переплачивайте посредникам – организуем полный цикл сопровождения: от продажи бетона до его доставки на объект в пределах Московской области.'
			},
			{
				header: 'Консультации специалистов',
				text: 'Если не знаете, какую марку бетона выбрать для вашей задачи – просто опишите ее менеджеру по телефону, он подробно ответит на все вопросы и предложит оптимальный вариант.'
			},
			{
				header: 'Никаких опозданий',
				text: 'Получите партию бетона вовремя – согласуем удобные даты дляя доставки на объект, заранее просчитаем маршрут, подберем спецтехнику для транспортировки смеси.'
			},
		],
	}

.description#description
	.container
		h2.description__header !{description.header}
		p.description__subheader.subheader !{description.subheader}
		.description__text !{description.texts[0]}
		.description-items
			each item in description.items
				.description__item
					p.description__item-header
						span !{item.header}
					p.description__item-text !{item.text}
		.description__text !{description.texts[1]}
